/* Delete any padding and margin on all elements initially as a form of CSS reset */
* {
	margin: 0em 0em; 
	padding: 0em 0em; 
}
/* Add background color to the body of the html page to see what has been covered. */
body {
	background-color: LightGray;
}
/* Add outline around every div element to help see where such elements are located on the html page. */
div {
	outline: 1px dotted Chocolate;  
}
/***************************************** Navigation Bar **********************************************/
/* Status: 7/30/2015 @ 1:13pm -- Use float property to better align the navigation bar, but can simulate the 
		behavior needed when changing the width of the browser. 
*/		

/* Set properties for navigation bar. */
nav{ 
	position: fixed; /* set the navigation bar so it does not move  when scrolling vertically */
	top: 0em; /* set the navigation bar at the very top of the page */
	width: 100%; /* set the navigation bar to spread a certain percentage */
	height: 4.5em; /* set the height of the navigation bar */
	background-color: #FFFFFF; /* set background to white */
	text-align: center; 
	outline: 1px solid green; /* help to visualize what is going on */ 
}
/* Set properties for Karma's logo. */
img {
	height:2.7em;
	width: 1.6em;
	margin: 0em 1em; 
}
/* Set properties for links on navigation bar so that they are all on the same line. */
ul li{display: inline-block;}
/* Set properties of the "a" elements. */ 
a {
	text-decoration: none; /* get rid of the underlining */
	color: #868686; /* a orange-like color */ 
	font-family: Arial, sans-serif; 
	font-size: 1em; 
	font-weight: bold; 
	opacity: 0.8;
	margin: 0 0.7em; /* get some horizontal space between the "a" elements */
}
/* overide the previous selector so that the first "a" element is of different color */ 
a.nav-links-color {color: #333333; }
/* Set all "a" elements to change their opacity when hovered upon. */
.nav-links li a:hover {opacity: 1}
/* Set Karma's logo and navigation links on the same line and vertically centered on the navigation bar*/
.nav-logo {
	float: left;
	padding: 0.8em 0em;
}
.nav-links {
	float: right;
	padding: 1.7em 0em; 
}
div.nav-container {
	width: 60%; 
	margin-left: auto; 
	margin-right: auto; 
	min-width: 38em; 
	outline: 1px solid black; 
}

/*********************************** First Section ********************************/
/* Status: 7/30/2015 @ 2:56am -- Improved layout of the button, but layout of background image
		and the text need to be improved. 
*/ 
.first-section {
	/* set background image of the .first-section */
	background-image: url("images/first-background.jpg");
	/* set the background image to not repeat */
	background-repeat: no-repeat;
	/* set the size of the background */ 
	background-size: cover;
	/* spread the width across the entire page */
	width: 100%;
	/* color the text white */ 
	color: white;
}
.first-section div {
	/* center this div element */
	width: 50em;
	margin-left: auto; 
	margin-right: auto; 
	/* center the text within this div elelemnt */
	text-align: center; 
	/* stretch this div element vertically so that it is vertically centered;
		the length .first-section's background will increase */
	padding-top: 15em;
	padding-bottom: 15em;
	outline: 1px dotted orange; 
	border: none; /* used because div are set to have border */
}
button {
	background-color: #F55E21; 
	border-radius: 0.25em;
	border: none; 
	padding: 0.8em 1.7em; 
	font-family: Arial, sans-serif; 
	font-size: 1.1em; 
	margin-top: 2em; 
}

button:hover {
	background-color: #CE4007; 
}

/********************************** Second Section **********************************/
/* Status: 7/29/2015 @ 2:53pm -- Add second section, but the configuration of the layout 
			needs to be adjusted better along with making modications to the text. 
*/
.second-section {
	/* center .second-section by setting its width, margin-left, and margin-right properties */ 
	width: 58em;
	margin-left: auto;
	margin-right: auto;
	/* center all text within .second-section */ 
	text-align: center; 
	/* add border to see a visual inspection */
	border: 1px dashed blue; 
}

.devices-section, 
.coffee-section, 
.mobile-section {
	/* add all on the same line */
	display: inline-block; 
	/* set width of the subsections */
	width: 15em; 
	/* create some distance */
	padding: 2em; 
}

/* set height and width of the image icons in .second-section */ 
.second-section img {
	height: 7em;
	width: 7em; 
}


